name: Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential g++ python3-dev
          python -m pip install --upgrade pip
          pip install pytest pytest-cov spacy PyPDF2 python-docx
          python -m spacy download en_core_web_sm
    
    


      - name: Run tests with coverage
        run: |
          pytest --cov=backend --cov-report=xml

      - name: List files for debugging
        run: |
          pwd
          ls -R

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=mounika110907_Quiz_Spark
            -Dsonar.organization=mounika110907
            -Dsonar.projectName=Quiz_Spark
            -Dsonar.projectVersion=1.0
            -Dsonar.sources=backend
            -Dsonar.sourceEncoding=UTF-8
            -Dsonar.coverage.exclusions=**/__pycache__/**, **/venv/**, **/tests/**, **/static/**, **/templates/**
            -Dsonar.python.coverage.reportPaths=backend/coverage.xml
